<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename="favicons/apple-icon-57x57.png") }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename="favicons/apple-icon-60x60.png") }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename="favicons/apple-icon-72x72.png") }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename="favicons/apple-icon-76x76.png") }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename="favicons/apple-icon-114x114.png") }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename="favicons/apple-icon-120x120.png") }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename="favicons/apple-icon-144x144.png") }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename="favicons/apple-icon-152x152.png") }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename="favicons/apple-icon-180x180.png") }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename="favicons/android-icon-192x192.png") }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename="favicons/favicon-32x32.png") }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename="favicons/favicon-96x96.png") }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename="favicons/favicon-16x16.png") }}">
  <link rel="manifest" href="{{ url_for('static', filename="/manifest.json") }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename="favicons/ms-icon-144x144.png") }}">
  <meta name="theme-color" content="#ffffff">
  {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="base-grid">
    <div></div>
    <header id="header">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/resume">Resume</a></li>
        </ul>
      </nav>
      {% block header %}
      {% endblock %}
    </header>
  </div>
  <div class="base-grid">
    <div></div>
    <main id="content">
      {% block content %}{% endblock %}
    </main>
  </div>
  <div class="base-grid">
    <div></div>
    <footer id="footer">
      {% block footer %}
      {% endblock %}
    </footer>
  </div>
  <script>var _gaq=[['_setAccount','UA-619508-4'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));</script>
</body>
</html>
