{% extends "layout/base.html" %}
{% block title %}Dog and Tony Show - Colorful Dream{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Dog and Tony Show - <i>Colorful Dream</i></h1>
  <iframe style="border: 0; width: 400px; height: 704px;" src="https://bandcamp.com/EmbeddedPlayer/album=1845820143/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=true/tracks=2058533057,2760871637,2394920473,1795460730,3573180777,2159066610/esig=c5f5d8be29ee66b19ee4c2a543316b84/" seamless><a href="https://dogandtonyshow.bandcamp.com/album/colorful-dream">Colorful Dream by Dog and Tony Show</a></iframe>
{% endblock %}
