{% extends "layout/base.html" %}
{% block title %}Tony Thomas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Tony Thomas</h1>
  <p>
    I'm a Web Developer for Academic Support Resources at the University of
    Minnesota. Our tech stack is primarily Ruby on Rails and Oracle.
  </p>

  <p><a href="/resume">You can find my resume here</a>.</p>

  <p>
  I'm also a musician. You can find me under <a href="https://www.youtube.com/channel/UCzIWraEDJwvhggUHsknpStA">Dog and Tony Show</a>
  or my experimental project: <a href="https://open.spotify.com/artist/4y5DPq7KAICABOyr6vWUsc?si=pUXZuMN9TjGm0STfDhhSuQ">Dronalarium</a>.
  </p>
{% endblock %}
