{% extends "layout/base.html" %}
{% block title %}Dog and Tony Show - Only Love Resides{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Dog and Tony Show - <i>Only Love Resides</i></h1>
  <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=2273589164/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=true/tracks=1038422824,1539595372,3567459838,2344048657,2596631629,3603597443,3919977353,3822716849,2815278183,1917327262/esig=4f320bb734632ceaafd8a33038a0a2b9/" seamless><a href="https://dogandtonyshow.bandcamp.com/album/only-love-resides">Only Love Resides by Dog and Tony Show</a></iframe>
{% endblock %}
