{% extends "layout/base.html" %}
{% block title %}Dronalarium - Sunna{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Dronalarium - <i>Sunna</i></h1>
  <iframe style="border: 0; width: 400px; height: 770px;" src="https://bandcamp.com/EmbeddedPlayer/album=2228064319/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=true/tracks=1854703803,386375083,346351259,1736098157,844396771,507123159,391512402,3638354377/esig=6333278f809003f8832397bcc5a307fb/" seamless><a href="https://dronalarium.bandcamp.com/album/sunna">Sunna by Dronalarium</a></iframe>
{% endblock %}
