{% extends "layout/base.html" %}
{% block title %}Dronalarium - Umari{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Dronalarium - <i>Umari</i></h1>
  <iframe style="border: 0; width: 400px; height: 704px;" src="https://bandcamp.com/EmbeddedPlayer/album=1279793786/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=true/tracks=2864543024,3371010633,4183827099,2939505797,3859569858,2008472848/esig=3a8231b39031ac8cdef40c52c9fa1842/" seamless><a href="https://dronalarium.bandcamp.com/album/umari">Umari by Dronalarium</a></iframe>
{% endblock %}
